{
	"options.editorconfig": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"proseWrap": "never",
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true
}